<h1> Item list </h1>

<table>
    <tbody>
        <tr>
            <td>STT</td>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Sửa</td>
            <td>Xóa</td>
            <td>Xem chi tiết</td>
        </tr>
        <tr *ngFor="let abc of products; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ abc.name }}</td>
            <td>{{ abc.price }}</td>
            <td>{{ abc.quantity }}</td>
            <td> <button (click)="save(i)">Sửa</button> </td>
            <td> <button (click)="delete(i)">Xóa</button> </td>
            <!-- <td> <button [routerLink]="['/detail/' + abc.id]">Chi tiết</button> </td> -->
            <td> <button (click)="detail(abc)">Chi tiết</button> </td>
        </tr>
    </tbody>
</table>

<app-detail *ngIf="itemDetail" [item] = "itemDetail"></app-detail>
<app-create [item] = "item"></app-create>
