
<!-- Case:
1. Nếu là admin thì hiển thị là admin site 
2, ngược lại, thì hiẻn thị là pages site
-->

<div *ngIf="isAdmin">
    admin site
</div>

<div *ngIf="!isAdmin">
    pages site
</div>

Title: {{ title }}

<button (click)="testButton($event)">test button</button>


<h1> Item list </h1>

<div *ngFor="let abc of items; let i = index"> 
    {{ abc.code }} - {{ abc.name }} - {{ abc.age }} tại vị trí {{ i }}
</div>

<table>
    <tbody>
        <tr>
            <td>STT</td>
            <td>Name</td>
            <td>Tuổi</td>
            <td>Sửa</td>
            <td>Xóa</td>
            <td>Xem chi tiết</td>
        </tr>
        <tr *ngFor="let abc of items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ abc.name }}</td>
            <td>{{ abc.age }}</td>
            <td> <button (click)="save(i)">Sửa</button> </td>
            <td> <button (click)="delete(i)">Xóa</button> </td>
            <td> <button [routerLink]="['/detail/' + abc.id]" (click)="detail(abc)">Chi tiết</button> </td>
        </tr>
    </tbody>
</table>

<!-- <app-detail *ngIf="itemDetail" [item] = "itemDetail"></app-detail> -->

<router-outlet></router-outlet>